{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1 style="@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');text-align: center;padding: 200px 50px 0 0;">Приведите все в порядок c<br/>To Do List</h1>
<!--    {% if tasks %}-->
<!--        {% for el in tasks %}-->
<!--            <div class="alert alert-warning mt-2">-->
<!--                <h3>{{ el.title }}</h3>-->
<!--                <p>{{ el.task }}</p>-->
<!--            </div>-->
<!--        {% endfor %}-->
<!--    {% else %}-->
<!--        <p> у нас нет записи</p>-->
<!--{% endif %} -->
{% endblock %}

