{% extends 'main/base.html' %}

{% block title %}
Авторизация
{% endblock %}

{% block content %}
    <h1>Авторизация</h1>
<br/>
    <form action="" method="POST">
        {% csrf_token %}

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Имя пользователя</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">

  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Пароль</label>
    <input type="password" class="form-control" name="password">
  </div>

<br/><br/>
        <input type="submit" value="Авторизация" class="btn btn-secondary">

    </form>
{% endblock %}

<span>{{ error }}</span>